.App {
  font-family: sans-serif;
  text-align: center;
}

.body {
  font: 10pt arial;
}
#visStuff {
  width: 800px;
  height: 800px;
  /* border: 1px solid lightgray; */
  /* background-color:#333333; */
}

.labelStyle {
  color: pink;
}